* {
  box-sizing: 0px;
}

body {
  margin: 0px;
}

.congrats-card-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.heading {
  font-family: roboto;
  font-size: 18px;
  font-weight: 300;
}

.details-container {
  background-color: #cffafe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.image {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}

.name {
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
  color: #0f172a;
}

.description {
  font-family: roboto;
  font-size: 14px;
  color: #1e293b;
}

@media screen and (min-width: 768px) {
  .heading {
    font-family: roboto;
    font-size: 50px;
    font-weight: 300;
  }
  .image {
    height: 140px;
    width: 140px;
  }
  .name {
    font-size: 24px;
  }
  .description {
    font-size: 18px;
  }
}
